body{margin:0;font-family:Arial;background:#4f7f98;color:#fff}
.topo{background:#005a8d;padding:15px}
.logo{font-weight:bold}
.container,.resultado{padding:40px}
.box{background:#eee;color:#000;padding:20px;width:300px}
button{margin-top:15px;padding:10px;width:100%;background:#2ea44f;color:#fff;border:0}
.ok{color:#2ea44f;font-weight:bold}